.dropdown {
  position: relative;
  margin-bottom: 1rem;
}

.control.is-open {
  box-shadow: 0px 1px 4px #aaa7;
}

.dropdown .options {
  visibility: hidden;
}

.options {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
}

.options .option:hover, .options .option:focus {
  background-color: rgba(200,200,200, 0.2);
  outline: none;
}

.options .option {
  list-style: none;
  padding: 0.3rem;
  cursor: pointer;
}

.dropdown .options.is-open {
  visibility: visible;
  box-shadow: 0px 1px 4px #aaa7;
  z-index: 1000;
}

.dropdown .selected {
  border-bottom: 1px solid #ccc;
  padding: 0.3rem;
  position: relative;
  cursor: pointer;
}
.dropdown .selected:focus {
  outline: none;
  background-color: rgba(200,200,200, 0.2);
}

.dropdown .label {
  font-size: 0.88rem;
  margin-bottom: 0.5rem;
  padding-left: 0.3rem;
}

.selected .icon {
  display: block;
  font-size: 0.8rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(0, -55%);
}
